.movies{
    display:flex;
    width: 300px;
    background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	justify-content: space-evenly;
	margin:20px;
	position: relative;
	
	text-align: center;
}
.movie{
    border:1px solid black; 
}
.movies .rates {
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	
	
}

